{% extends "base.html"%}
{% block content %}

<div class="container" style="margin-bottom: 2cm; margin-top: 2cm; ">
    <center>
        <h1 style="font-size: 35mm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add Notices</h1>
    </center>
</div>

<div class="container ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating my-5">
            <input type="text" name="notice_title" class="form-control" placeholder="name@example.com">
            <label for="floatingTextarea">Notice Title</label>
        </div>
        <div class="my-5">
            <input class="form-control form-control-lg" name="notice_img" id="formFileLg" type="file">
        </div>
        <div class="form-floating">
            <textarea class="form-control" name="notice" style="height: 4cm;" placeholder="Leave a comment here" id="floatingTextarea" ></textarea>
            <label for="floatingTextarea">Notice</label>
        </div>

        <div class="form-floating my-5">
            <textarea class="form-control" name="comments" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>
        <div class="my-5">
            <button type="submit" class="btn btn-primary btn-lg">Add Notice</button>
        </div>
    </form>
</div>
{% endblock %}
