{% extends "base.html"%}
{% block content %}


<div class="container" style="margin-bottom: 2cm; margin-top: 2cm; ">
    <center>
        <h1 style="font-size: 35mm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Update
            Your Profile</h1>
    </center>
</div>

<!-- Admin signup data start and update -->
<form method="post" class="mx-5">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" name="username" value="{{userdata.username}}" class="form-control" id="floatingInput"
            placeholder="name@example.com">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" value="{{userdata.password}}" class="form-control" id="floatingPassword"
            placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-danger mx-5 my-5">Sumbit</button>
</form>
<!-- Admin signup data end and update -->

{% endblock %}