{% extends "base.html"%}
{% block content %}

<div class="container" style="margin-bottom: 2cm; margin-top: 2cm; ">
    <center>
        <h1 style="font-size: 35mm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add
            Society Member</h1>
    </center>
</div>

<!-- Add Members form start -->
<div class="container my-5">
    <form method="post" class="row g-5">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="validationDefault01" class="form-label">First name</label>
            <input type="text" name="firstname" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault02" class="form-label">Last name</label>
            <input type="text" name="lastname" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefaultUsername" class="form-label">Username</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" name="username" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationDefault02" class="form-label">password</label>
            <input type="password" name="password" class="form-control" id="validationDefault02" required>
        </div>

        <div class="col-md-3">
            <label for="validationDefault03" class="form-label">City</label>
            <input type="text" name="city" class="form-control" id="validationDefault03" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">State</label>
            <select class="form-select" name="state" id="validationDefault04" required>
                <option selected disabled value="">Choose...</option>
                <option>Gujarat</option>
                <option>Delhi</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Room</label>
            <select class="form-select" name="bhk" id="validationDefault04" required>
                <option selected disabled value="">Choose Room Size</option>
                <option value="2">2 BHK</option>
                <option value="3">3 BHK</option>
                <option value="4">4 BHK</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationDefault05" class="form-label">Mo.Number</label>
            <input type="number" name="Mobile" class="form-control" id="validationDefault05" required>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Agree to terms and conditions
                </label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>
<!-- Add Members form end -->

{% endblock %}