<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <center>
            This is URL Assignment.
        </center>
        <p/body>
            What is Django URLs ? make program to create django urls ?<br>

-->A request in Django first comes to urls.py and then goes to the matching function in views.py. <br>
--> Python functions in views.py take the web request from urls.py and give the web response to templates. <br>
--> It may go to the data access layer in models.py as per the queryset.  <br>
        </p>
    </header>
</body>
</html>